---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{tags.length > 0 && (
  <div class="flex flex-wrap gap-2">
    {tags.map(tag => (
      <span class="text-sm bg-(--color-bg-secondary) text-(--color-text-secondary) px-3 py-1 rounded-full">
        #{tag}
      </span>
    ))}
  </div>
)}
